<div ng-controller="HeaderPartialCtrl">
	<div ng-if="currentPath() === '/login' || currentPath() === '/signup'" class="header-panel"></div>

	<nav ng-if="currentPath() === '/' || currentPath() === '/connect' || currentPath() === '/recalls'" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- Menu Button -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar-elements" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			 </div>

			<!-- Logo -->
			<a class="navbar-brand" href="#/">RecallRodent</a>

			<!-- Nav links -->
			<div class="collapse navbar-collapse" id="collapsing-navbar-elements">
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="isLoggedIn()"><a href="#/recalls">Recalls</a></li>
					<li ng-if="isLoggedIn()"><a href="#/connect">Connect Stores</a></li>
					<li ng-if="isLoggedIn()"><a href="#/?logout=true">Logout</a></li>
					<li ng-if="!isLoggedIn()"><a href="#/login">Login</a></li>
				</ul>
			</div><!-- / Nav links -->
		</div>
	</nav>
</div>