@header-height-lg: 256px;
@header-height-md: 128px;
@footer-height: 120px;

body{
	overflow-x:hidden;
}

.browserupgrade{
	background-color:#fff;
	color:#000;
}

.small-card{
	max-width:500px;
	margin-left: auto;
	margin-right: auto;

	.card-body, .card-footer{
		padding:30px 30px 15px 30px;
	}
}

.card .card-footer.full-buttons {
	padding:0;
	button, button:first-child {
		width:100%;
		left:0;
		bottom:0;
		padding: 15px 30px;
	}
}
.card .card-footer.buttons {
	padding-bottom:0;
	a {
		line-height:20px;
		padding:8px 0;
		display:block;
	}
}

.btn.btn-tight{
	padding-left:5px;
	padding-right:5px;
}

.header-panel{
	color: white;
	background-color: @primary;
	height: @header-height-md;

	@media (min-width: @screen-lg-min) {
		height: @header-height-lg;
	}


	div{
		height:100%;
	}
	h1{
		position:absolute;
		bottom:10px;
	}
}

/* fix brand alignment on mobile */
@media screen and (max-width: @screen-xs-max){
	.navbar .navbar-brand{
		position:absolute;
		top:0;
	}
}

.floating-title{
	position:relative;

	h1{
		position:absolute;
		top:-2em;
		color:white;
		@media (max-width: 500px) {
			padding-left:30px;
		}
	}
}

.floating-label-wrapper{
	margin-top: 20px;
}

.form-expanded .form-group{
	margin-top: 15px;
	margin-bottom: 30px;
}

.form-control ~ .hint.error {
	display: block;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.break-edge{
	margin-top: -(@header-height-md / 4);

	@media (min-width: @screen-lg-min){
		margin-top: -(@header-height-lg / 4);
	}
}

/* FOOTER */
.credits{
	padding: @grid-gutter-width;
	bottom: 0;
	width: 100%;
	height: @footer-height;
	background-color: #f5f5f5;
}