<div class="container-fluid" ng-controller="RecallsPartialCtrl">
    <button ng-show="progress==100" class="pull-right btn btn-default" ng-click="recheckAll()">
        <span class="fa fa-undo"></span> Recheck All
    </button>
    <h1>Recalls</h1>
    <p ng-hide="purchasesCollected">
        Retrieving your purchases
    </p>
    <p ng-show="progress < 100 && purchasesCollected && purchaseCount > 0">
        Checking {{attemptCount}} of {{purchaseCount}} purchases.
    </p>
    <div ng-show="progress<100" class="progress progress-striped active">
        <div class="progress-bar" style="width: {{progress}}%"></div>
    </div>
    <p class="progress-name" ng-show="progress < 100 && purchasesCollected && purchaseCount > 0">
        {{itemName}}
    </p>
    <div class="row recallsGrid">
        <div class="recall" ng-repeat="(productId, recall) in recalls"
            ng-click="toggleRecall(recall, $event)" ng-class="{'expanded': recall.expanded}" recall-directive>
            <div class="card shadow-z-1 row">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="productInfo">
                    <div class="imageBG">
                        <img ng-src="{{recall.purchase.large_image}}" alt="{{recall.purchase.store}}" />
                    </div>

                    <h1>{{recall.purchase.name}}</h1>
                    <div class="recalls-count">
                        {{ sizeOf(recall.results) }} possible recall matches
                    </div>
                    <div ng-show="recall.purchase.amazon_link">
                        <a class="amazon-link" href="{{recall.purchase.amazon_link}}">View on Amazon</a>
                    </div>
                    <div class="share-links">
                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_googleplus_large' displayText='Google +'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st__large' displayText=''></span>
                        <span class='st_email_large' displayText='Email'></span>
                    </div>
                </div>
                <div class="matchesList list-group">
                    <h1>Possible recall matches</h1>
                    <div class="list-group-item" ng-repeat="match in recall.results | orderBy:matching_score">
                        <h1>{{match.product_description}}</h1>
                        <h2>{{match.recalling_firm}}</h2>
                        <h3>recalled in {{match.city}}, {{match.state}}, {{match.country}} on {{match.recall_initiation_date}}</h3>
                        <p>{{match.reason_for_recall}}</p>
                    </div>
                </div>
            </div>
        </div.
    </div>
    <div ng-show="progress==100 && purchaseCount==0">
        <p>We didn't get any purchases from your connected stores. Try <a href="/#/connect">connecting more stores</a>.</p>
    </div>
    <div ng-show="progress==100 && !sizeOf(recalls) && purchaseCount>0">
        <p>We checked {{checkCount}} of your {{purchaseCount}} purchases, and nothing has been recalled.</p>
    </div>
</div>