<div class="container" ng-controller="StoresPartialCtrl">
	<div ng-show="getUserStores.length > 0">
		<h1>Connect Stores</h1>
		<div class="col-md-12">
		</div>
	</div>

	<h1>Connect Stores</h1>
	<div ng-repeat="error in errors track by $index" class="clearfix">
	   <div class="alert alert-danger alert-dismissible" role="alert">
		 <button type="button" ng-click="errors.splice($index,1)" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-close" aria-hidden="true"></span></button>
		 <ul class="fa-ul pre"><li><span class="fa-li fa fa-exclamation-triangle" aria-hidden="true"></span><span class="sr-only">Error: </span>{{error}}</li></ul>
	   </div>
	</div>

	<form class="col-md-3">
		<input type="search" class="form-control empty" id="storeSearch" ng-model="storeSearch.name" placeholder="search for store">
	</form>

	<div class="col-md-12">
		<ul class="media-list">
			<li class="media card" ng-repeat="store in getStores() | filter:storeSearch | orderBy:['-isConnected','name']">
				<div class="media-left">
					<div class="store-logo-container">
						<img class="media-object" ng-src="{{store.image_link}}" alt="{{store.name}}">
					</div>
				</div>
				<div class="media-body">
					<form name="connectForm" ng-show="!store.isConnected" class="form-inline" ng-submit="doStoreConnect(store)" autocomplete="off">
						<div class="form-group form-control-wrapper floating-label-wrapper">
							<input style="display:none" type="text">
							<input id="username{{store.id}}" name="username{{store.id}}" type="text" class="form-control empty" ng-model="store.username" required autocomplete="off">
							<label for="username{{store.id}}" class="floating-label">user</label>
							<span class="material-input"></span>
						</div>
						<div class="form-group form-control-wrapper floating-label-wrapper">
							<input style="display:none" type="password">
							<input id="password{{store.id}}" name="password{{store.id}}" type="password" ng-model="store.password" class="form-control empty" required autocomplete="off">
							<label for="password{{store.id}}" class="floating-label">password</label>
							<span class="material-input"></span>
						</div>
						<button type="submit" class="btn btn-default btn-flat btn-tight" ng-disabled="connectForm[$index].$invalid">
							<span class="fa fa-link" aria-hidden="true"></span> Connect
						</button>
					</form>
					<h4 ng-show="store.isConnected">
						CONNECTED
						<span class="fa fa-check icon-material-green-700" aria-hidden="true"></span>
					</h4>
				</div>
			</li>
		</ul>
	</div>
</div>
