<div class="container connect-stores" ng-controller="StoresPartialCtrl">
	<div ng-repeat="error in errors track by $index" class="clearfix">
	   <div class="alert alert-danger alert-dismissible" role="alert">
		 <button type="button" ng-click="errors.splice($index,1)" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-close" aria-hidden="true"></span></button>
		 <ul class="fa-ul pre"><li><span class="fa-li fa fa-exclamation-triangle" aria-hidden="true"></span><span class="sr-only">Error: </span>{{error}}</li></ul>
	   </div>
	</div>
	<div>
		<div class="row">
			<div class="col-md-4">
				<h2>
					My Stores
					<span class="fa fa-spinner fa-pulse text-primary" aria-hidden="true" ng-show="gettingStores"></span>
				</h2>
				<div class="card clearfix">
					<div ng-repeat="store in stores | filter:connectedStoresFilter" class="store connected-list">
						<div class="store-card">
							<h3>{{store.name}}</h3>
							<a href="{{store.href}}" target="_blank" class="pull-left">
								<div class="store-logo-container">
									<img class="media-object" ng-src="{{store.image_link}}" alt="{{store.name}}" title="{{store.name}}">
								</div>
							</a>
							<div class="detail pull-left">
								<div class="status" ng-hide="isRefreshing">
									<div>
										{{store.userStore().status()}}
										<span ng-switch="store.userStore().status()">
											<span class="fa fa-check text-success" ng-switch-when="Ready"aria-hidden="true"></span>
											<span class="fa fa-share text-success" ng-switch-when="Connecting" aria-hidden="true"></span>
											<span class="fa fa-times text-danger" ng-switch-when="Invalid Credentials" aria-hidden="true"></span>
											<span class="fa fa-shopping-cart fa-pulse" ng-switch-when="Purchase Review" aria-hidden="true"></span>
										</span>
									</div>
									<div class="small" ng-if="store.userStore().status() === 'Connecting' || store.userStore().status() === 'Purchase Review'">
										Check back in a bit
									</div>
								</div>
								<div ng-show="isRefreshing">
									Checking...
								</div>
								<div ng-show="store.userStore().status() === 'Connecting' || store.userStore().status() === 'Purchase Review'">
									<button type="button" class="btn btn-default btn-flat btn-tight" ng-disabled="isRefreshing" ng-click="refreshUserStores()">
										<span class="fa fa-refresh" ng-class="isRefreshing?'fa-spin':''" aria-hidden="true"></span> Refresh
									</button>
								</div>
								<div ng-show="!store.isConnecting">
									<button type="button" class="btn btn-default btn-flat btn-tight" ng-disabled="store.isDisconnecting" ng-click="doStoreDisconnect(store)">
										<span class="fa fa-unlink" ng-class="store.isDisconnecting?'fa-spin':''" aria-hidden="true"></span> Disconnect
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-class="getUserStores().length?'col-md-8':'col-md-12'">
				<h2>
					Connect a Store
					<span class="fa fa-spinner fa-pulse text-primary" aria-hidden="true" ng-show="gettingStores"></span>
				</h2>
				<form>
					<div class="input-group search-group">
						<span class="input-group-addon" id="basic-addon2">
							<span class="sr-only">Search</span>
							<span class="fa fa-search" aria-hidden="true"></span>
						</span>
						<div class="form-group form-control-wrapper floating-label-wrapper" ng-show="!store.isConnected() && store.userStore().status() !== 'Connecting'">
							<input id="storeSearch" name="storeSearch" type="search" class="form-control empty" ng-model="storeSearch.name" autofocus tabindex="10">
							<label for="storeSearch" class="floating-label">search for store</label>
							<span class="material-input"></span>
						</div>
					</div>
				</form>
				<div class="card clearfix">
					<div ng-repeat="store in stores | filter:storeSearch | filter:availableStoresFilter | orderBy:'name'" class="store" ng-class="store.expanded?'store-form':'store-small col-md-4 col-sm-6'">
						<a href ng-if="!store.expanded" class="store-card" ng-click="toggleStoreConnect(store)" tabindex="{{($index+1) * 10}}">
							<div class="store-logo-container">
								<img ng-src="{{store.image_link}}" alt="{{store.name}}" title="{{store.name}}">
							</div>
							<h4>{{store.name}}</h4>
						</a>

						<div ng-if="store.expanded" class="store-card" ng-if="!store.hasConnectionAttempt()">

							<button class="pull-right btn btn-default btn-close" ng-click="store.expanded=false" tabindex="{{($index+1) * 10 + 4}}">
								<span title="Close" class="fa fa-close" aria-hidden="true"></span>
								<span class="sr-only">Close</span>
							</button>

							<div class="h2">{{store.name}}</div>

							<a href="{{store.href}}" target="_blank">
								<div class="store-logo-container">
									<img class="media-object" ng-src="{{store.image_link}}" alt="{{store.name}}" title="{{store.name}}">
								</div>
							</a>

							<div class="clearfix visible-xs-block"></div>

							<form name="connectForm{{store.id}}" class="form-inline clearfix" ng-submit="doStoreConnect(store)" autocomplete="off">
								<!-- suppress Chrome autocomplete -->
								<div class="hidden" aria-hidden="true">
									<input type="text" name="username{{store.id}}">
									<input type="password" name="password{{store.id}}">
								</div>
								<div class="form-group form-control-wrapper floating-label-wrapper" ng-show="!store.isConnected() && store.userStore().status() !== 'Connecting'">
									<input id="username{{store.id}}" name="username{{store.id}}" type="text" class="form-control empty" ng-model="store.username" required autocomplete="off" tabindex="{{($index+1) * 10 + 1}}">
									<label for="username{{store.id}}" class="floating-label">user</label>
									<span class="material-input"></span>
								</div>
								<div class="form-group form-control-wrapper floating-label-wrapper" ng-show="!store.isConnected() && store.userStore().status() !== 'Connecting'">
									<input id="password{{store.id}}" name="password{{store.id}}" type="password" ng-model="store.password" class="form-control empty" required autocomplete="off" tabindex="{{($index+1) * 10 + 2}}">
									<label for="password{{store.id}}" class="floating-label">password</label>
									<span class="material-input"></span>
								</div>
								<span class="top-half-gutter" ng-show="!store.isWorking()">
									<button type="submit" class="btn btn-default btn-flat btn-tight" ng-disabled="store.isWorking() || (store.userStore().credentials_status && store.userStore().credentials_status !== 'Invalid')" ng-show="!store.isConnected()" tabindex="{{($index+1) * 10 + 3}}">
										<span class="fa fa-link fa-rotate-90" ng-class="store.isConnecting?'fa-spin':''" aria-hidden="true"></span> Connect
									</button>
								</span>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>