<div ng-controller="SignupPartialCtrl">
	<div class="break-edge">
		<div class="card small-card floating-title">
			<h1>RecallRodent</h1>
			<form name="signupForm" ng-submit="doSignup()" class="form-expanded">
				<div class="card-body">
					<h3>Create a new account</h3>
					<div class="form-group" ng-class="{'has-error': signupForm.email.$dirty && signupForm.email.$invalid && !signupForm.email.$focused}">
						<div class="form-control-wrapper floating-label-wrapper">
							<input id="email" name="email" ng-model="signup.email" type="email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" class="form-control empty" ng-focus required autofocus>
							<div class="hint error" ng-show="signupForm.email.$dirty && signupForm.email.$invalid && !signupForm.email.$focused">
								<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
								<span ng-show="signupForm.email.$error.required">An email is required</span>
								<span ng-show="signupForm.email.$error.pattern">Please input a valid email</span>
							</div>
							<label for="email" class="floating-label">email</label>
							<span class="material-input"></span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': signupForm.zip.$dirty && signupForm.zip.$invalid && !signupForm.zip.$focused}">
						<div class="form-control-wrapper floating-label-wrapper">
							<input id="zip" name="zip" ng-model="signup.zip" type="text" ng-pattern="/^[0-9]{5}$/" class="form-control empty" ng-focus required>
							<div class="hint error" ng-show="signupForm.zip.$dirty && signupForm.zip.$invalid && !signupForm.zip.$focused">
								<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
								<span ng-show="signupForm.zip.$error.required">A zip code is required</span>
								<span ng-show="signupForm.zip.$error.pattern">Please input a 5-digit zip code</span>
							</div>
							<label for="zip" class="floating-label">zip</label>
							<span class="material-input"></span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': signupForm.password.$dirty && signupForm.password.$invalid && !signupForm.password.$focused}">
						<div class="form-control-wrapper floating-label-wrapper">
							<input id="password" name="password" ng-model="signup.password" type="password" class="form-control empty" ng-minlength="8" ng-focus required>
							<div class="hint error" ng-show="signupForm.password.$dirty && signupForm.password.$invalid && !signupForm.password.$focused">
								<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
								<span ng-show="signupForm.password.$error.required">A password is required</span>
								<span ng-show="signupForm.password.$error.minlength">Please input a password of at least 8 characters</span>
							</div>
							<label for="password" class="floating-label">password</label>
							<span class="material-input"></span>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': signupForm.confirm.$dirty && signupForm.confirm.$invalid}">
						<div class="form-control-wrapper floating-label-wrapper">
							<input id="confirm" name="confirm" ng-model="signup.confirm" type="password" ng-pattern="passwordConfirmPattern" class="form-control empty" ng-minlength="8" ng-focus required>
							<div class="hint error" ng-show="signupForm.confirm.$dirty && signupForm.confirm.$invalid && !signupForm.confirm.$focused">
								<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
								<span ng-show="signupForm.confirm.$error.required">A password confirmation is required</span>
								<span ng-show="signupForm.confirm.$error.pattern">The password confirmation must match</span>
							</div>
							<label for="confirm" class="floating-label">confirm password</label>
							<span class="material-input"></span>
						</div>
					</div>
					<div ng-repeat="error in signup.errors track by $index" class="clearfix">
					   <div class="alert alert-danger alert-dismissible" role="alert">
						 <button type="button" ng-click="signup.errors.splice($index,1)" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-close" aria-hidden="true"></span></button>
						 <ul class="fa-ul pre"><li><span class="fa-li fa fa-exclamation-triangle" aria-hidden="true"></span><span class="sr-only">Error: </span>{{error}}</li></ul>
					   </div>
					</div>
				</div>
				<div class="card-footer full-buttons">
					<button type="submit" class="btn btn-default btn-flat btn-tight">
						<span class="fa fa-plus" aria-hidden="true"></span> Create
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
